<%- include('./headers/landingHeader') %>
<!-- <h1>Scrapbook</h1>
<h3>Connecting photographers, models, and creatives</h3> -->
<img class="landingImg" src="https://i.imgur.com/LKGinHs.jpg" alt="landingImage">
</body>